$font-stack:    "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
$primary-color: green;

html, body{
  min-width: 700px;
  font-family: $font-stack;
}

#background {
  background-image: linear-gradient(to left, rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73)), url(./violin.jpg);
  filter: brightness(65%);
  background-size: 100%;
  z-index: 0;
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 1
}

#root {
  z-index: 999
}

#score {
  z-index: 999 
}


body{
  padding:0px;
  color: white;
  font-size: 20px;
}



.banana:hover {
  background-color: rgba(0,0,0,0.1);
}

.record-element:hover, .record-delete:hover, .score-delete:hover {
  color: pink
}

.record-element:active, .record-delete:active, .score-delete:active {
  color: purple
}

.arrows, .close-score {
  color: white
}

.arrows:hover, .close-score:hover {
  color: pink
}

.close-score:active {
  color: red
}

.arrows:active {
  color: purple
}

#upload-button:hover {
  font-size: 25px;
  color: pink
}

#upload-button:active {
  font-size: 25px;
  color: purple
}

#post-entry:hover{
  font-size: 25px;
  color: pink 
}

#post-entry:active{
  font-size: 25px;
  color: purple
}
